* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Home */
.home {
    display: grid;
    gap: 2rem 1rem;
    place-items: center; /* מקם את האלמנטים במרכז המסך */
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../img/bacground/background\ img.jpeg");
    background-size: cover;
    background-position: center;
    z-index: 0; 
     /* הבהרת התמונה */
     filter: brightness(120%);
  }
  .home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /*z-index: 100;*/
    opacity: 0;
    pointer-events: none;;
    transition: all 0.5s ease-out;
  }
  .home.show::before {
    opacity: 1;
    pointer-events: auto;
  }
 /*Header*/
 .header {
    position:fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    align-items: center;
  }

/*nav*/
  .nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  .nav,
  .nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .nav_link,
  .button {
    color: #fff;
  }
  .nav_item {
    column-gap: 25px;
  }
  .nav_link:hover {
    color: #d9d9d9;
  }
  /*Logo*/
  .logo{
    color: #fff;

    font-size: 25px;
    margin-left: 50px;
    top:20px;
  }




