* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Home */
.home {
    display: grid;
    gap: 2rem 1rem;
    place-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../img/bacground/background\ img.jpeg");
    background-size: cover;
    background-position: center;
    z-index: 0; 
     /* הבהרת התמונה */
     filter: brightness(120%);
  }
  .home::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /*z-index: 100;*/
    opacity: 0;
    pointer-events: none;;
    transition: all 0.5s ease-out;
  }
  .home.show::before {
    opacity: 1;
    pointer-events: auto;
  }
 /*Header*/
 .header {
    position:fixed;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
    align-items: center;
  }

/*nav*/
  .nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  .nav,
  .nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .nav_link,
  .button {
    color: #fff;
    top:50px;
  }
  .nav_item {
    column-gap: 25px;
  }
  .nav_link:hover {
    color: #d9d9d9;
  }
  #logo {
    position: relative;
    left: 20px; /* להזיז את הלוגו לאמצע */
    padding-top: 100px;
  
  }
  
#logo img{
  top:0;
  margin-left: 20px;
  height: 200px;
  width: 200px;
}
 /*Icon*/
 .fa-user {
  margin-top: 10px;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  right: 80px; 
  margin-right: 30px; 
  color: rgba(80, 150, 10, 0.705);
  font-weight: bold;

}
#username-text {
  position: relative; 
  top: 50%; 
  transform: translateY(-50%);
  left: 10px;

}
.user-info {
font-weight: bold;
display: flex ;
align-items: center;
right: 10px;

}
.fa-crown{
  color: rgba(80, 150, 10, 0.705);
  margin-top: 10px;
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  right:350px; 
  margin-right: 30px; 

}
#High_Score{
margin-left: 20px;

}



